/.idea/
/.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
/.mvn/wrapper/maven-wrapper.jar
*.iml
*.log
*.tmp

/backend/target/
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/.turbo/
/.mvn/apache-maven-*
/%USERPROFILE%/

/.DS_Store
/Thumbs.db
